*{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

footer {
    background: #343434;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1140px;
}

.footer{
    width: 33.3%;
}

.footer-content p{
    margin: auto;
    padding: 7px;
    width: 190px;
}

.footer-content ul{
    text-align: center;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.list {
    padding: 0;
}

.list li{
    list-style-type: none;
    padding: 7px;
    position: relative;
    text-align: center;
    width: auto;
}

.list li::before{
    background: #f18930;
    content: '';
    height: 2px;
    position: absolute;
    left: 50px;
    top: 100px;
    transition-duration: .5s;
    transform: translate(-50%, -50%);
    width: 0;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    text-align: center;
    padding: 10px 0;
    background: #f18930;
    margin-top: 25px;
}

.bottom-bar p {
    color: black;
    font-size: 25px;
    margin: 0;
    padding: 7px;
}