.containerPerfis {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
  }
  
  .ul_perfil {
    list-style-type: none;
    padding: 0;
  }
  
  .li_perfil {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .li_perfil:nth-child(even) {
    background-color: #f1f1f1;
  }
  
  .li_perfil span {
    font-weight: bold;
    color: #555;
    flex: 1 1 100%;
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .li_perfil span {
      flex: 1;
      text-align: left;
    }
  }
  
  @media (max-width: 600px) {
    .containerPerfis {
      padding: 10px;
    }
  
    .li_perfil {
      padding: 10px;
    }
  
    h1, p {
      font-size: 1.2em;
    }
  }